*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
.header-container{
    background-color:  rgba(255, 144, 14, 0.1);
    height: 1322px;
}
.header-primary{
    /* display: grid; */
    /* grid-template-columns: repeat(1,1fr); */
    /* grid-row-gap: 30px; */
    display: flex;
    margin-top: 180px;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    

}
.header-primary-title{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    width:800px ;
}
.header-primary-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    width: 
    868px;
}
.btn-primary{
    margin-top: 35px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
}
.header-image{
    margin-top: 50px;
}
.header-flex{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 50px;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 50px;
}
.container{
    background-color: #FFFFFF;
    width: 700px;
    padding-left: 300px;
    padding-top: 85px;
    
}
/* top features */
.features{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.top-features{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 75px;
    padding-left: 90px;
}
.section-title{
    font-weight: 500;
font-size: 45px;
width: 468px;
padding-top: 180px;
padding-bottom: 24px;

}
.feature-primary{
    color:  #727272;;
}
.feature-secondary{
    color: #FF900E;
}
.feature-paragraph{
    font-weight: 400;
font-size: 16px;
color: #727272;
}
/* third section */
.second-title{
    font-weight: 700;
font-size: 45px;
width: 468px;
padding-bottom: 24px;
}
.section-divide{
    display: flex;
    align-content: stretch;
    align-items: center;
}
.architect-thumbnail{
    padding-left: 150px;
    padding-top: 130px;
   
}

.btn-secondary{
    color: #FFFFFF;
    background-color: #FF900E;
    width: 342px;
height: 200px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
font-size: 25px;
line-height: 40px;
}
.experience{
    font-weight: 700;
font-size: 65px;
line-height: 70px;
}

.section-paragraph{
    padding-bottom: 60px;
    color: #727272;
}

.shadow{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 586px;

}

.third-title{
    padding-bottom: 10px;
}
.third-paragprah{
    margin-bottom: 50px;
    color: #727272;
}

@media only screen and (max-width:667px){
    .header-container{
        width: 100%;
    }
    .header-flex,.header-primary, .nav-items{
        flex-direction: column;
    }
    
}